<%- include('./partials/head.ejs') %>

<%- include('./partials/heading.ejs') %>

<main>
  <h1 class="h1-title">Vind <br> Beschikbaarheid</h1>
  <form action="get">
    <h2>Locatie</h2>
    <label for="my-dropdown">Selecteer het land:</label>
    <select id="countryDropdown">
      <option value="">Landen</option>
      <% locations.forEach(place => { %>
        <option value="<%= place.land %>"><%= place.land %></option>
      <% }) %>
    </select>
    <label for="my-dropdown">Selecteer het skigebied:</label>
    <select id="my-dropdown">
      <option value="">Skigebieden</option>
      <% locations.forEach(place => { %>
        <option value="<%- place.skigebied %>"><%- place.skigebied %></option>
      <% }) %>
    </select>
    <label for="my-dropdown">Selecteer het dorp:</label>
    <select id="my-dropdown">
      <option value="">dorpen</option>
      <% locations.forEach(place => { %>
        <option value="<%- place.dorp %>"><%- place.dorp %></option>
      <% }) %>
    </select>
    <h2>Datum</h2>
    <label for="my-dropdown">Selecteer de dag van vertrek:</label>
    <select id="my-dropdown">
      <option value="">dag van vertrek</option>
      <% departureDates.forEach(function(date) { %>
        <option><%= date %></option>
      <% }); %>
    </select>
  </form>
  <a href="/results"><button class="zoek-knop">Zoek</button></a>
</main>

<%- include('./partials/foot.ejs') %>